.table  {
    margin: 10px;
}

.dashboard-container {
    margin: 32px;
}

.today-container {
    margin: 32px;
}

@media screen and (min-width: 768px) {
    .today-container {
        margin: 32px;
    }
}

.schedule-card .ant-table-tbody > tr >th{
    color: #4B4B4B;
}

.schedule-card .ant-table-thead > tr > th{
    color: #4B4B4B;
    background: #F4F4F4 !important;
}

.dashboard-label {
    color: #62676B;
}

.schedule-card .ant-card-head{
    background-image: url('../img/today-order-bg.png');
    object-fit: cover;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.schedule-card .ant-table-tbody > tr >th{
    color: #4B4B4B;
}

.schedule-card .ant-table-thead > tr >th{
    color: #4B4B4B;
    background: #F4F4F4 !important;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
    width: 100%;
}