*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo {
    width: 129px;
    float: left;
    margin: 26px 121px 26px 16px;
}

.consultant-name{
    font-weight: bold;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: white;
}

.profile {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-left: 24px;
}

.consultant {
    margin-left: 8px;
}

.header-menu {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}

.site-page-header {
    margin: 0;
    padding: 0;
    height: 72px;
}

li {
    display: inline;
}

.title {
    width: 129px;
    float: left;
    margin: 10px 121px auto 0;
}

.logout {
    width: 129px;
    float: right;
    margin: 10px 0 auto 0;
}

/* .container-photo{
    width: 200px;
    float: left;
    margin: 26px 121px 26px 24px;
}  */

/* img{
    vertical-align: middle;
    width: 25%;
    height: 25%;
    border-radius:50%;
    float: left;
} */